<header>
    <nav class="nav">
        <div class="nav__list">
            <div class="nav__list__element__logo">
                <a href='@Url.Action("Index", "Home", new { area = "" })'>
                    <div class="nav__list__element__logo__image"></div>
                    <div class="nav__list__element__logo__image"></div>
                </a>
            </div>

            <div class="nav__list__element__buttons__title">
                <span class="currentPageName"></span>
                <span class="moduleDescr"></span>
            </div>

            <div class="nav__list__element__buttons">
                <div class="nav__list__element__buttons__icon" (click)="switchTheme()"></div>
            </div>

            <div class="nav__list__element__buttons__title">
                
                <app-login-menu></app-login-menu>
                
            </div>
            
        </div>
    </nav>
</header>