
<div class="support-form__container">
    <div class="support-form__container__body">
        <div class="support-form__container__data">
            <div class="support-form__container__data__title">
                Podaj parametry problemu
            </div>
           

            <div class="support-form__container__data__content">

                <div class="form--control__container">
                    <div class="form--control__container--title">TicketId</div>
                    <div class="form--control__container--content">
                        <input type="number" class="form--control" id="newTicket" #ticketId>
                    </div>
                </div>

                <div class="form--control__container">
                    <div class="form--control__container--title">Type</div>
                    <div class="form--control__container--content">
                        <input type="text" class="form--control" id="newTicket" value="" #type>
                    </div>
                </div>

                <div class="form--control__container">
                    <div class="form--control__container--title">Requester</div>
                    <div class="form--control__container--content">
                        <input type="text" class="form--control" id="newTicket" value="" #requester>
                    </div>
                </div>
            

                <div class="form--control__container">
                    <div class="form--control__container--title">Url</div>
                    <div class="form--control__container--content">
                        <!-- <input type="text" class="form--control" id="newTicket" [value]="currentUrl" #url> -->
                    </div>
                </div>

                <div class="form--control__container">
                    <div class="form--control__container--content">
                        <!-- <button type="submit" class="btn btn-success form--control" (click)="addTicket($any(ticketId).value , type.value, requester.value, url.value)">Wyślij</button> -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>