<div class="dm__container">
    <div *ngFor="let announcement of announcements" class="dm__messageBox {{announcement.announcementsTypeString}}">
        <div class="dm__messageBox--title">{{announcement.title}} 
            <span class="dm__messageBox--title--date">{{announcement.createDate | date:"d MMM hh:mm:ss"}}</span></div>
        <div class="dm__messageBox--content">
            <read-more [text]="announcement.message" [maxLength]="300"></read-more>
        </div>
        <div class="dm__messageBox--advertiser"><span>{{announcement.modifiedBy}}</span></div>
    </div>
</div>


