@import "../../styles/1-abstracts/_themeGen.scss";
@import "../../styles/3-components/_messageBox.scss";

.dm {
    &__container {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        gap: 1rem;
        pointer-events: none;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__messageBox {
        @include messageBox(70vw, auto);

        // @include themeGen(){
        //     &.success {
        //         @include messageBoxColor(getThemeVal('colorSuccess'));
        //     }
        //     &.danger {
        //         @include messageBoxColor(getThemeVal('colorDanger'));
        //     }
        //     &.warning {
        //         @include messageBoxColor(getThemeVal('colorWarning'));
        //     }
        //     &.info {
        //         @include messageBoxColor(getThemeVal('colorInfo'));
        //     }
        //     &.primary {
        //         @include messageBoxColor(getThemeVal('colorPrimary'));
        //     }
        //     &.secondary {
        //         @include messageBoxColor(getThemeVal('colorSecondary'));
        //     }
        //     &.light {
        //         @include messageBoxColor(getThemeVal('colorLight'));
        //     }
        //     &.dark {
        //         @include messageBoxColor(getThemeVal('colorDark'));
        //     }
        // }
    }
}

.dm__messageBox--content img {
    max-width: 100%;
}


