<header>
    <nav class="nav">
        <div class="nav__list">
            <div class="nav__list__element__logo">
                <a href='@Url.Action("Index", "Home", new { area = "" })'>
                    <div class="nav__list__element__logo__image"></div>
                    <div class="nav__list__element__logo__image"></div>
                </a>
            </div>

            <div class="nav__list__element__buttons__title">
                <span class="currentPageName"></span>
                <span class="moduleDescr"></span>
            </div>

            <div class="nav__list__element__buttons">
                <div class="nav__list__element__buttons__item" (click)="switchTheme()"></div>
                <!-- <span id="swichScreenMode" class="fas fa-expand clickable nav__list__element__buttons__item"></span>
                <span id="refreshAll" class="fas fa-sync-alt clickable nav__list__element__buttons__item"></span> -->
            </div>
        </div>
    </nav>
</header>