// ************ CALCULATIONS **********
// *** CARDS ***
$card-width: 420px;
$card-height: 400px;

// ** CARD-IMG **
$img-card-width: $card-width - 10px;
$img-card-height: $card-height - 10px;

// ** CARD- **


// *** NEXT ELEMENT ***
