@use "sass:color";
@import "../1-abstracts/_themeGen";
@import "../1-abstracts/_variables.scss";
@import "../1-abstracts/_functions.scss";

$threshold: 55%;
$transitionTime: .15s;

@mixin prepareButton($colorName) {
    background: $colorName !important;
    height: 35px;
    color: contrastColor($colorName, #000, #fff) !important;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: transparent;
    padding: 0.375rem 0.75rem;
    /*font-size: $h5;*/
    text-transform: uppercase;
    line-height: 1.5;
    transition: color $transitionTime ease-in-out, background-color $transitionTime ease-in-out, border-color $transitionTime ease-in-out, box-shadow $transitionTime ease-in-out;
    border-radius: $button-border-radius;
    outline: none;
    text-shadow: none !important;

    &:not(:disabled):not(.disabled) {
        &:hover, &.active {
            @if ($colorName == getThemeVal('buttonDanger')) {
                background: color.adjust($colorName, $lightness: -25%) !important;
            }
            @else {
                background: color.adjust($colorName, $blackness: 35%) !important;
            }

            box-shadow: inset 0 0 2px color.adjust($colorName, $blackness: 45%), 0px 0 2px 1px color.adjust($colorName, $blackness: 45%);
        }
    }

    &:not(:disabled):not(.disabled) {
        &:focus, &.focus {
            box-shadow: inset 0 0 2px color.adjust($colorName, $blackness: 45%), 0 0 2px 1px color.adjust($colorName, $blackness: 45%);
        }
    }

    &.disabled, &:disabled {
        opacity: 0.65;
        cursor: not-allowed;
        background: color.adjust($colorName, $blackness: 25%);
    }

    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
}

.btn {
    @include themeGen() {
        &--default {
            @include prepareButton(getThemeVal('buttonPrimary'))
        }

        &--primary {
            @include prepareButton(getThemeVal('buttonPrimary'))
        }

        &--secondary {
            @include prepareButton(getThemeVal('buttonSecondary'))
        }

        &--info {
            @include prepareButton(getThemeVal('buttonInfo'))
        }

        &--dark {
            @include prepareButton(getThemeVal('buttonDark'))
        }

        &--light {
            @include prepareButton(getThemeVal('buttonLight'))
        }

        &--warning {
            @include prepareButton(getThemeVal('buttonWarning'))
        }

        &--danger {
            @include prepareButton(getThemeVal('buttonDanger'))
        }

        &--success {
            @include prepareButton(getThemeVal('buttonSuccess'))
        }

        &--sm {
            padding: 0.25rem 0.35rem;
            font-size: 0.875rem;
            line-height: 1.5;
            border-radius: .2rem;
            height: unset;
        }

        &--lg {
            font-size: 1.5rem;
            height: auto;
        }

        &--xl {
            font-size: 2rem;
            height: auto;
        }
    }
}