@import "../1-abstracts/_themeGen";
@import "../1-abstracts/_variables.scss";
@import "../1-abstracts/_mixins.scss";

@mixin container($justify-content) {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*height: auto;*/
    /*min-height: 100%;*/
    list-style: none;

    &__body {
        display: flex;
        /*height: 100%;*/
        flex-wrap: wrap;
        justify-content: $justify-content;
        align-content: center;
        max-width: 100%;
        gap: 1rem;

        &__content {
            display: flex;
            flex-wrap: wrap;
            justify-content: $justify-content;
            align-content: center;
            overflow-x: auto;
            row-gap: 1rem;
        }

        @media screen and (max-width: $mobile-width-medium) {
            display: flex;
            flex-direction: column;

            &__content {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
            }
        }

        @include themeGen() {
            &__title {
                width: 100%;
                height: 40px;
                background: getThemeVal('containerTitleBackground');
                /*margin: auto 10px;*/
                padding: 7px;
                font-size: $h6;
                text-align: center;
                border-radius: 5px;
                text-transform: uppercase;
                // transform: rotate( 180deg );
                box-shadow: 2px 2px 4px getThemeVal('itemBackground');
            }

            &__title--rotated {
                @media screen and (max-width: $mobile-width-medium) {
                    writing-mode: unset;
                    transform: none;
                    box-shadow: 2px 2px 4px getThemeVal('itemBackground');
                }

                writing-mode: vertical-lr;
                transform: rotate(180deg);
                /*height: 100%;*/
                background: getThemeVal('containerTitleBackground');
                /*margin: 10px;*/
                padding: 7px;
                font-size: $h6;
                text-align: center;
                border-radius: 5px;
                text-transform: uppercase;
                box-shadow: -2px -2px 4px getThemeVal('itemBackground');
            }
        }
    }
}
